@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700,400italic|UnifrakturMaguntia);

body {
	font-family: 'Crimson Text', serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;

}

.center {
	margin: auto;
    width: 96%;
}


#nav {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display: inline;
}
#nav li{
    display:inline;
}
#nav a{
    display:inline;
    text-transform: uppercase;
    color: #000;
    font-size: 1.2em;
	text-decoration: none;
	padding: 0 10px;
	margin: 0 10px;
}

#nav a:hover {
	color: #f00;
}

/*#social {
	display: inline;
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;*/

h1 {
	font-family: "UnifrakturMaguntia"; 
	font-size: 5em;
	line-height: 1.5em;
	text-align: center;
}


.thin {
	height: 1px;
	margin: 1px 0;
	border: 0px;
	border-style: none;
	background-color: #000;
}

.thick {
	height: 3px;
	border: 0px;
	margin: 1px 0;
	border-style: none;
	background-color: #000;
}

#hero {
	width: 96%;
	height: 450px;
	margin: 10px auto;
	text-align: center;
	overflow:hidden;

}

.stretch {
    width: 100%; 
    position: center center;
}

#content{
	width:98%;
	margin:auto;
}

aside {
	display: inline-block;
	width: 23%;
	background-color: #ddd;
	padding: 2%;
	float: left;
	margin:1%;
}

#photocolumns {
	display: inline-block;
	float: right;
	width: 70%;
}

.resize {
    height: auto; 
    width: auto; 
    max-width: 31%; 
    padding:1%;
/*    max-height: 300px;
*/}

